.inputs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 1rem 0;
  font-size: 2rem;
  border-radius: 10px;
}

.operators {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.operator {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 1rem 0;
  font-size: 1.4rem;
  border-radius: 10px;
}
